html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-icons.orange500 {
  color: #f28c07;
}

#canvas {
  position: absolute;
}

#colorHEX {
  position: absolute;
  width: 5%;
  height: 2%;
  background-color: #FFF;
  color: #000;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
}
#container .page-intro {
  z-index: 1;
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  animation-name: introFadeOut;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-direction: normal;
  animation-iteration-count: unset;
  animation-fill-mode: forwards;
  -webkit-animation-name: introFadeOut;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: unset;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: introFadeOut;
  -moz-animation-duration: 1.5s;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 3s;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: unset;
  -moz-animation-fill-mode: forwards;
}
#container .page-intro .intro {
  position: relative;
  width: 50%;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  display: block;
  left: 25%;
  top: 50%;
  animation-name: introFadeIn;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: unset;
  -webkit-animation-name: introFadeIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: unset;
  -moz-animation-name: introFadeIn;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 0s;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: unset;
}
#container .page-intro .intro .intro-text-cover {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000000;
  animation-name: disappearIntro;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation-delay: 2s;
  animation-direction: reverse;
  animation-iteration-count: unset;
  animation-fill-mode: forwards;
  -webkit-animation-name: disappearIntro;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-animation-delay: 2s;
  -webkit-animation-direction: reverse;
  -webkit-animation-iteration-count: unset;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: disappearIntro;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-animation-delay: 2s;
  -moz-animation-direction: reverse;
  -moz-animation-iteration-count: unset;
  -moz-animation-fill-mode: forwards;
}
#container .menu-container {
  width: 8%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  opacity: 0.8;
  float: left;
  overflow: hidden;
}
#container .menu-container .menu-mini {
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 100px 1fr 50px 100px;
  grid-template-columns: 1fr;
}
#container .menu-container .menu-mini .menu-mini-btn-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .menu-container .menu-mini .menu-mini-btn-container .menu-mini-ng-big {
  cursor: pointer;
}
#container .menu-container .menu-mini-circle-container {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-flow: column;
}
#container .menu-container .menu-mini-circle-container .menu-mini-circle {
  width: 25px;
  height: 25px;
  margin: 20% 0;
  border: 5px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, #f2bb07be, #ff9d00aa, #ff4800aa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  align-self: center;
  text-align: center;
  cursor: pointer;
}
#container .menu-large {
  display: grid;
  transition: 0.5s ease-in;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr;
  position: fixed;
  width: 20%;
  height: 100%;
  left: 8%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  opacity: 0.8;
}
#container .menu-large.close-menu {
  bottom: -100%;
}
#container .menu-large.open-menu {
  bottom: 0%;
}
#container .menu-large .menu-large-rgb-container {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
}
#container .menu-large .menu-large-rgb-container .menu-large-rgb {
  display: flex;
  width: 80%;
  height: 25px;
  margin: 10% 0 10% 0;
  justify-content: center;
  align-items: center;
  align-self: center;
}
#container .menu-large .menu-large-rgb-container .menu-large-rgb .menu-large-info-rgb {
  width: 80%;
  border-bottom: 3px solid #000;
  font-size: 1.5rem;
  cursor: pointer;
}
#container .menu-large .menu-large-rgb-container .menu-large-rgb .menu-large-info-del {
  margin-left: 8%;
  cursor: pointer;
}
#container .menu-large .menu-large-rgb-container .menu-large-input-form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-self: center;
}
#container .menu-large .color-form-contaienr {
  margin: auto 0;
  padding: 0 10%;
}
#container .menu-large .color-form-contaienr .color-submit-form {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-self: center;
}
#container .menu-large .color-form-contaienr .color-submit-form .color-code-input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #000;
  font-size: 1.5rem;
  vertical-align: left;
}
#container .menu-large .color-form-contaienr .color-submit-form .color-code-input:focus {
  outline: none;
}
#container .menu-large .color-form-contaienr .color-submit-form .menu-large-done {
  display: block;
  border: none;
  border-radius: 10px;
  margin-left: 8%;
  cursor: pointer;
}
#container .change-color-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  height: 45px;
}
#container .change-color-container .prv-color, #container .change-color-container .next-clor {
  margin: 5%;
  width: 45px;
  height: 45px;
  text-align: center;
  border: 2px solid #f28c07;
  border-radius: 30%;
  color: #f28c07;
  transition: background-color 0.5s;
  vertical-align: center;
  line-height: 45px;
  cursor: pointer;
}
#container .change-color-container .prv-color:hover, #container .change-color-container .next-clor:hover {
  background-color: #ffd000;
  color: #f28c07;
}
#container .copy-msg-container {
  width: 50%;
  height: 0%;
  visibility: hidden;
}
#container .copy-msg-container .copy-msg {
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 200px;
  height: 70px;
  position: absolute;
  bottom: 10%;
  left: 45%;
  background-color: #0000004b;
  text-align: center;
  border-radius: 10px;
}
#container .copy-msg-container .copy-msg.appear-msg {
  visibility: visible;
  opacity: 1;
}
#container .copy-msg-container .copy-msg.disappear-msg {
  visibility: hidden;
  opacity: 0;
}
#container .copy-msg-container .copy-msg .msg {
  font-size: 1.5rem;
  vertical-align: center;
  line-height: 70px;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(path/to/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular");
}
@keyframes introFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappearIntro {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes introFadeOut {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes ShowMsg {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

/*# sourceMappingURL=RGBColorPicker.css.map */
