html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-icons.orange500 {
  color: #f28c07;
}

#container {
  width: 100%;
  height: 100%;
  background-color: #f2bb07;
  background-image: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%);
}
#container .page-intro {
  z-index: 1;
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  animation-name: introFadeOut;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-direction: normal;
  animation-iteration-count: unset;
  animation-fill-mode: forwards;
  -webkit-animation-name: introFadeOut;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: unset;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: introFadeOut;
  -moz-animation-duration: 1.5s;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 3s;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: unset;
  -moz-animation-fill-mode: forwards;
}
#container .page-intro .intro {
  position: relative;
  width: 50%;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  display: block;
  left: 25%;
  top: 50%;
  animation-name: introFadeIn;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: unset;
  -webkit-animation-name: introFadeIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: unset;
  -moz-animation-name: introFadeIn;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 0s;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: unset;
}
#container .page-intro .intro .intro-text-cover {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000000;
  animation-name: disappearIntro;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  animation-delay: 2s;
  animation-direction: reverse;
  animation-iteration-count: unset;
  animation-fill-mode: forwards;
  -webkit-animation-name: disappearIntro;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-animation-delay: 2s;
  -webkit-animation-direction: reverse;
  -webkit-animation-iteration-count: unset;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: disappearIntro;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-animation-delay: 2s;
  -moz-animation-direction: reverse;
  -moz-animation-iteration-count: unset;
  -moz-animation-fill-mode: forwards;
}
#container .menu-container {
  width: 8%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  opacity: 0.8;
  position: absolute;
  top: 0;
  overflow: hidden;
}
#container .menu-container .menu-mini {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-flow: column;
}
#container .menu-container .menu-mini .menu-mini-ng-big, #container .menu-container .menu-mini .menu-mini-rgb-plus {
  width: 50%;
  margin: 40% auto 20% auto;
  cursor: pointer;
}
#container .menu-container .menu-mini-circle {
  width: 25px;
  height: 25px;
  margin: 20% 0;
  border: 5px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, #f2bb07be, #ff9d00aa, #ff4800aa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
  cursor: pointer;
}
#container .menu-large {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 8%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  opacity: 0.8;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#container .menu-large .menu-large-block {
  width: 100%;
  margin-top: 40%;
}
#container .menu-large .menu-large-info {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#container .menu-large .menu-large-info .menu-large-rgb {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 10% 0 8% 0;
  text-align: center;
}
#container .menu-large .menu-large-info .menu-large-rgb .menu-large-info-rgb {
  width: 80%;
  border-bottom: 3px solid #000;
  vertical-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}
#container .menu-large .menu-large-info .menu-large-rgb .menu-large-info-del {
  display: block;
  margin-left: 8%;
  cursor: pointer;
}
#container .menu-large .menu-large-info .menu-large-input-form {
  margin-top: 20%;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
#container .menu-large .menu-large-info .menu-large-input-form .color-code-input {
  width: 80%;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #000;
  font-size: 1.5rem;
  vertical-align: center;
}
#container .menu-large .menu-large-info .menu-large-input-form .color-code-input:focus {
  outline: none;
}
#container .menu-large .menu-large-info .menu-large-input-form .menu-large-done {
  display: block;
  margin-left: 8%;
  cursor: pointer;
}
#container .change-color-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  bottom: 10%;
  right: 10%;
  width: 100px;
}
#container .change-color-container .prv-color, #container .change-color-container .next-clor {
  display: block;
  margin: 5%;
  width: 100px;
  height: 100%;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 30%;
  color: #ffffff;
  transition: background-color 0.5s;
  cursor: pointer;
}
#container .change-color-container .prv-color:hover, #container .change-color-container .next-clor:hover {
  background-color: #ffd549;
  color: #f28c07;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(path/to/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(path/to/MaterialIcons-Regular.woff2) format("woff2"), url(path/to/MaterialIcons-Regular.woff) format("woff"), url(path/to/MaterialIcons-Regular.ttf) format("truetype");
}
@keyframes introFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappearIntro {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes introFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: 0;
  }
}

/*# sourceMappingURL=RGBColorPicker.css.map */
