#drag-box{
    position: relative;
    padding: 5%;
    display: flex;
    background-color: rgb(243, 207, 46)
}
.document-title{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    top: 2%;
    left: -0.5%;
}
.zone{
    padding: 1%;
    width: 20%;
    border: 10px solid black;
    border-radius: 10px;
}
.zone2,.zone3,.zone4{
    margin-left:5%;
}
.box{
    margin: 5% 0;
    border: 5px solid black;
    border-radius: 5px;
    background-color: black;
    opacity: .8;
    color: white;
    text-align: center;
    font-size: 2rem;
}